<footer role="contentinfo" class="w-full p-4 bg-gray-100 flex items-center justify-center space-x-2">
    <span class="font-mono text-xs">&copy; {{ meta.title }} {{ build.timestamp | dateToFormat('yyyy') }} | Site customized by <a href="https://www.lemonproductions.ca/">Chris Enns of Lemon Productions</a> based on <a href="https://github.com/eastslopestudio/eleventy-starter">Eleventy Starter</a>. Proudly hosted on <a href="https://www.netlify.com/">Netlify</a>.</span>
</footer>